{"swagger":"2.0","info":{"description":"통관업무처리 절차를 기초로 수집한 무역자료를 집계한 수출입무역통계입니다. \n수출입무역통계란 사전적 의미로 국민경제가 다른 나라와의 사이에서 행하는 화물의 교류에 관한 통계로 일국의 경제영역으로 반입(수입)되거나 반출(수출)됨으로써 그 나라의 물적 자원을 증가 또는 감소시키는 모든 상품이 기록되며, 단순히 한 나라를 통과하는 물품(통과물품)이나 일시적으로 반입 또는 반출되는 물품은 그 나라의 물적 자원량을 증가시키거나 감소시키지 않기 때문에 무역통계에 포함되지 않습니다. 작성할 때의 기준이 되는 무역통계지역은 지리적·행정적·국민 경제적 관점에서 정해지며, 우리나라를 포함한 대부분 국가의 경우 관세법이 포괄적으로 적용되는 영역을 의미하는 관세영역과 무역통계지역은 개념적으로 일치합니다. 따라서 관세영역을 넘어서 행해지는 화물의 교류 통계가 무역통계라 할 수 있습니다. 우리나라는 수입은 CIF금액기준으로, 수출은 FOB 금액기준으로 집계합니다. 매월 15일경 수출입 신고의 정정, 취하 등 변경내역을 반영하여 전월까지의 자료를 현행화하고 있으며 주기는 1개월입니다. 중량은 순중량(kg)이며, 금액은 수입(과세가격미화금액), 수출(신고미화금액) 기준입니다.","version":"1.0.0","title":"관세청_수출입총괄(GW)"},"host":"apis.data.go.kr/1220000/Newtrade","basePath":"","schemes":["https","http"],"paths":{"/getNewtradeList":{"get":{"responses":{"200":{"description":"성공","schema":{"type":"object","properties":{"header":{"type":"object","description":"header","properties":{"resultMsg":{"type":"string","description":"결과메시지","properties":{}},"resultCode":{"type":"string","description":"결과코드","properties":{}}}},"body":{"type":"object","description":"body","properties":{"items":{"type":"object","description":"items","properties":{"item":{"type":"object","description":"item","properties":{"balPayments":{"type":"number","description":"무역수지(달러)","properties":{}},"expCnt":{"type":"number","description":"수출건수","properties":{}},"expDlr":{"type":"number","description":"수출금액(달러)","properties":{}},"impCnt":{"type":"number","description":"수입건수","properties":{}},"impDlr":{"type":"number","description":"수입금액(달러)","properties":{}},"year":{"type":"string","description":"기간","properties":{}}}}}}}}},"xml":{"name":"response"}}}},"tags":["API 목록"],"summary":"수출입총괄 서비스","description":"수출입총괄 서비스 조회목록 입니다.","operationId":"getNewtradeList","consumes":["application/json"],"produces":["application/xml"]},"parameters":[{"name":"serviceKey","description":"공공데이터포털에서 받은 인증키","type":"string","required":true,"in":"query"},{"name":"strtYymm","description":"시작년월","type":"string","required":true,"in":"query"},{"name":"endYymm","description":"종료년월","type":"string","required":true,"in":"query"}]}},"definitions":{"header":{"type":"object","properties":{"resultMsg":{"type":"string","description":"결과메시지"},"resultCode":{"type":"string","description":"결과코드"}}},"body":{"type":"object","properties":{"items":{"$ref":"#/definitions/items"}}},"items":{"type":"object","properties":{"item":{"$ref":"#/definitions/item"}}}," item":{"type":"object","properties":{"balPayments":{"type":"number","description":"무역수지(달러)"},"expCnt":{"type":"number","description":"수출건수"},"expDlr":{"type":"number","description":"수출미화금액(달러)"},"impCnt":{"type":"number","description":"수입건수"},"impDlr":{"type":"number","description":"수입미화금액(달러)"},"year":{"type":"string","description":"기간"}}},"item":{"type":"object","properties":{"balPayments":{"type":"number","description":"무역수지(달러)"},"expCnt":{"type":"number","description":"수출건수"},"expDlr":{"type":"number","description":"수출금액(달러)"},"impCnt":{"type":"number","description":"수입건수"},"impDlr":{"type":"number","description":"수입금액(달러)"},"year":{"type":"string","description":"기간"}}},"getNewtradeList_response":{"type":"object","properties":{"header":{"type":"object","description":"header","properties":{"resultMsg":{"type":"string","description":"결과메시지"},"resultCode":{"type":"string","description":"결과코드"}}},"body":{"type":"object","description":"body","properties":{"items":{"type":"object","description":"items","properties":{"item":{"type":"object","description":"item","properties":{"balPayments":{"type":"number","description":"무역수지(달러)"},"expCnt":{"type":"number","description":"수출건수"},"expDlr":{"type":"number","description":"수출금액(달러)"},"impCnt":{"type":"number","description":"수입건수"},"impDlr":{"type":"number","description":"수입금액(달러)"},"year":{"type":"string","description":"기간"}}}}}}}}}},"swaggerOprtinVOs":[{"oprtinUrl":"https://unipass.customs.go.kr/gxt/rest/tradeStats/getNewtradeList","oprtinNm":"수출입총괄 서비스","oprtinDc":"수출입총괄 서비스 조회목록 입니다.","gwSvcNm":"getNewtradeList","operationId":"getNewtradeList","publicDataTyDetailCode":"PRDE02","reqList":[{"paramtrNm":"serviceKey","paramtrBassValue":"-","paramtrDc":"공공데이터포털에서 받은 인증키","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"strtYymm","paramtrBassValue":"201601","paramtrDc":"시작년월","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"endYymm","paramtrBassValue":"201601","paramtrDc":"종료년월","paramtrTy":"string","paramtrDivision":"필수","ck":true}],"resList":[{"paramtrNm":"header","paramtrDc":"header","arrayYn":"N","paramtrDefNm":"#/definitions/header","subDefNm":"header","paramtrTy":"object","paramtrDivision":"필수","ck":true,"subParam":[{"paramtrNm":"resultMsg","paramtrDc":"결과메시지","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"resultCode","paramtrDc":"결과코드","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true}]},{"paramtrNm":"body","paramtrDc":"body","arrayYn":"N","paramtrDefNm":"#/definitions/body","subDefNm":"body","paramtrTy":"object","paramtrDivision":"필수","ck":true,"subParam":[{"paramtrNm":"items","paramtrDc":"items","arrayYn":"N","paramtrDefNm":"#/definitions/items","subDefNm":"items","paramtrTy":"object","paramtrDivision":"필수","ck":true,"subParam":[{"paramtrNm":"item","paramtrDc":"item","arrayYn":"N","paramtrDefNm":"#/definitions/item","subDefNm":"item","paramtrTy":"object","paramtrDivision":"필수","ck":true,"subParam":[{"paramtrNm":"balPayments","paramtrDc":"무역수지(달러)","arrayYn":"N","paramtrDefNm":"","paramtrTy":"number","paramtrDivision":"필수","ck":true},{"paramtrNm":"expCnt","paramtrDc":"수출건수","arrayYn":"N","paramtrDefNm":"","paramtrTy":"number","paramtrDivision":"필수","ck":true},{"paramtrNm":"expDlr","paramtrDc":"수출금액(달러)","arrayYn":"N","paramtrDefNm":"","paramtrTy":"number","paramtrDivision":"필수","ck":true},{"paramtrNm":"impCnt","paramtrDc":"수입건수","arrayYn":"N","paramtrDefNm":"","paramtrTy":"number","paramtrDivision":"필수","ck":true},{"paramtrNm":"impDlr","paramtrDc":"수입금액(달러)","arrayYn":"N","paramtrDefNm":"","paramtrTy":"number","paramtrDivision":"필수","ck":true},{"paramtrNm":"year","paramtrDc":"기간","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true}]}]}]}]}]}